@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.App {
  border-top: 5px solid #6809e1;
  transition: ease-in-out 0.5s;
}

.App.dark {
  background-color: #363434;
  color: #ffff;
}